@import "_shake";
#box {
  box-shadow: 4px 4px 16px #0000006e;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  #logo {
    background-color: $darkTeal;
    font-family: "Impact";
    font-size: 50px;
    text-align: center;
    display: table;
    span {
      display: table-cell;
      vertical-align: middle;
    }
  }
  @import "_signin";
}