body {
  #vertical {
    display: grid;
    grid-template-rows: auto 400px auto;
    height: 100vh;
    &::before {
      content: "";
    }
    #horizon {
      display: grid;
      grid-template-columns: auto 700px auto;
      &::before {
        content: "";
      }
      @import "_box";
      &::after {
        content: "";
      }
    }
    &::after {
      content: "";
    }
  }
  #copyright {
    position: absolute;
    bottom: 10px;
    right: 5px;
    a {
      text-decoration: none;
      color: black;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}