body {
  #vertical {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
    &::before {
      content: "";
    }
    #horizon {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      &::before {
        content: "";
      }
      @import "_box";
      &::after {
        content: "";
      }
    }
    &::after {
      content: "";
    }
  }
}